<form action="" method="post">
  <label for="">New item:</label>
  <input type="text" name="name" id="name" placeholder="Name">
  <input type="number" step="0.01" name="price" id="price" placeholder="Price">
  
  <input type="submit" value="Submit">
</form>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Price</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% items.each  do |i| %>
      <tr>
        <td><%= i[:name] %></td>
        <td><%= i[:price].round(2) %></td>
        <td>
          <form onsubmit="confirm('Are you sure you want to delete \'<%= i[:name] %>\'?')" action="/<%= i[:id] %>" method="POST">
            <input type="hidden" name="_method" value="delete">
            <button type="submit">x</button>
          </form>
        </td>
      </tr>
    <% end %>
  </tbody>
  <tfoot>
    <tr>
      <th>Total</th>
      <th>$ <%= items.sum(:price).round(2)  %> </th>
    </tr>
  </tfoot>
</table>